<div>
    {% extends "AppCoder/inicio.html" %}
    {% load static %}
    
        {% block contenidoQueCambia %}
        <p>Hola soy estudiante</p>
        <div class="card" style="width: 18rem; color:blue">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Estudiantes</h5>
                <p class="card-text">Aca se puede escribir algo de estudiantes</p>
                <a href="#" class="btn btn-primary">Click</a>
            </div>
        </div>
        {% endblock %}
</div>